/* Global Styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-font-color);
  background-color: var(--main-light-color);
}

.no-scroll {
  overflow: hidden;
  // padding-right: 16px;
}
