/* Reset Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon {
  fill: currentColor;
  stroke: currentColor;
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    outline-color: var(--main-accent-color);
  }
}
