:root {
  --main-font: 'Roboto', sans-serif;

  --main-font-color: #000;
  --second-font-color: #8c8c8c;
  --accent-font-color: #ff6b08;
  --header-font-color: #545454;

  --main-light-color: #fff;
  --modal-bg-color: #fff;
  --main-dark-color: #000;
  --main-accent-color: #ff6b01;
  --main-gray-color: #f7f7f7;
  --placeholder-color: rgb(255 255 255 / 0.8);

  --header-background-color: rgb(0 0 0 / 0.56);

  --card-box-shadow: 0px 0px 8px rgb(255 107 1 / 0.9);

  --btn-box-shadow: 0px 8px 43px rgb(255 107 1 / 0.6);

  // --social-link-color: #afb1b8;
  // --footer-background-color: #2f303a;
  // --footer-background-social: rgb(255 255 255 / 0.1);
  // --backdrop-background: rgb(0 0 0 / 0.2);

  // --btn-background-color: var(--main-accent-color);
  // --btn-background-hover: #188ce8;

  // --header-border-color: #ececec;

  // --hero-gradient-color: rgb(47 48 58 / 0.4);

  // --project-border-color: #eee;
  // --project-background-overlay: rgb(33 150 243 / 0.9);

  // --product-subtitle-background: rgb(47 48 58 / 0.8);

  // --team-box-shadow: 0px 1px 3px rgb(0 0 0 / 0.12),
  //   0px 1px 1px rgb(0 0 0 / 0.14), 0px 2px 1px rgb(0 0 0 / 0.2);
  // --team-border-radius: 0px 0px 4px 4px;

  // --subscribe-form-input-color: rgb(255 255 255 / 0.6);
  // --subscribe-form-input-border-color: rgb(255 255 255 / 0.3);

  // --filter-btn-box-shadow: 0px 3px 1px rgb(0 0 0 / 0.1),
  //   0px 1px 2px rgb(0 0 0 / 0.08), 0px 2px 2px rgb(0 0 0 / 0.12);

  // --modal-box-shadow: var(--team-box-shadow);
  // --modal-close-btn-border-color: rgb(0 0 0 / 0.1);
  // --modal-close-btn-box-shadow: 0 0px 2px 0 rgb(60 64 67 / 0.3),
  //   0 0px 6px 3px rgb(60 64 67 / 0.15);
  // --modal-form-input-border-color: rgb(33 33 33 / 0.2);
  // --modal-form-placeholder-color: rgb(117 117 117 / 0.5);

  /* Grid setting */
  --grid-items: 1;

  --grid-indent: 20px;

  /* Animation setting */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
