<section class="library filmoteka">

<!-- Scroll-To-Top (arrow-up) ------------------------------ -->

  <div class="scroll-progress">
      <span class="scroll-progress__value">&#8679</span>
    </div>
<!-- ------------------------------------------------------- -->

  <div class="container">
    <h1 class="title library__title visually-hidden">Library</h1>
    <ul class="list grid library__list" id="library-list">
      <!-- Li з карткою всередині -->
      <!-- start -->
      <li class="grid__item library__item">
        <div class="card">
          <div class="card__img">
            <img src="./images/test.jpg" alt="" />
          </div>
          <div class="card__wrapper">
            <h2 class="card__title title">
              HE GUARDIANS OF THE GALAXY HOLIDAY SPECIAL
            </h2>
            <p class="card__desc">
              Comedy, Fiction, Adventure | 2022
              <span class="card__vote">9.0</span>
            </p>
          </div>
        </div>
      </li>
      <!-- end -->
    </ul>
    <div class="library__pagination">
      <!-- Pagination -->
      <include src="./partials/pagination.html"></include>
    </div>
  </div>
</section>
