<section class="filmoteka">

  <!-- Scroll-To-Top (arrow-up) ------------------------------ -->

  <div class="scroll-progress">
    <span class="scroll-progress__value">&#8679</span>
  </div>
  <!-- ------------------------------------------------------- -->

  <div class="container">
    <h1 class="title filmoteka__title visually-hidden">Filmoteka</h1>
    <h2 class="title filmoteka__subtitle visually-hidden">No video has been found yet.</h2>
    <ul class="list grid filmoteka__list" id="filmoteka-list">

    </ul>
    <div class="show-more">
      <include src="./partials/show-more-btn.html"></include>
    </div>
    <div class="filmoteka__pagination">
      <!-- Pagination -->
      <include src="./partials/pagination.html"></include>
    </div>
  </div>
</section>