<header id="header" class="header header--home">
  <div class="header__section">
    <div class="header__container container">
      <nav class="navigation">
        <a class="link logo" href="./index.html">
          <img
            class="icon logo__icon"
            src="./images/logo.svg"
            alt="Filmoteka"
          />
          <span class="logo__text">Filmoteka</span>
        </a>

        <ul class="list navigation__list">
          <li class="navigation__item">
            <a
              id="home-link"
              class="link navigation__link navigation__link--current"
              href="./index.html"
              >Home</a
            >
          </li>
          <li class="navigation-item">
            <a
              id="mylib-link"
              class="link navigation__link"
              href="./library.html"
              >My library</a
            >
          </li>
          <li><button class="theme-btn" id="toggle-theme-btn">🌙</button></li>
        </ul>
      </nav>

      <form class="search" id="search-form">
        <input
          class="search__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          autofocus
          placeholder="Movie search"
          required
          minlength="3"
        />
        <button class="search__btn" type="submit" title="Search">
          <svg class="icon search__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
        <p class="search__info is-hidden" id="message">
          Search result not successful. Please try another key word
        </p>
      </form>
    </div>
  </div>
</header>
