<div class="my-backdrop hidden" id="my-backdrop">
  <div class="my-modal" id="my-modal">
    <button class="my-close-button" id="my-close-button" type="button">
      <svg class="modal__icon" width="30" height="30" aria-label="true">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="list-students">
      <li class="item">
        <img src="./images/team/olexandr-perlov1.jpg" alt="Oleksandr Perlov" />
        <div>
          <p class="name">Oleksandr Perlov</p>
          <p></p>
        </div>
      </li>
      <li class="item">
        <img src="./images/team/serhii.jpg" alt="Serhii" />
        <div>
          <p class="name">Serhii</p>
          <p></p>
        </div>
      </li>
      <li class="item">
        <img src="./images/team/dmytro-muzyka.jpg" alt="Dmytro Muzyka" />
        <div>
          <p class="name">Dmytro Muzyka</p>
          <p></p>
        </div>
      </li>
      <li class="item">
        <img src="./images/team/ihor-havrylov.jpg" alt="Ihor Havrylov" />
        <div>
          <p class="name">Ihor Havrylov</p>
          <p></p>
        </div>
      </li>
      <li class="item">
        <img src="./images/team/oksana-stefaniuk.jpg" alt="Oksana Stefaniuk" />
        <div>
          <p class="name">Oksana Stefaniuk</p>
          <p></p>
        </div>
      </li>
      <li class="item">
        <img src="./images/team/illa-bzhezinskii.jpg" alt="Illa Bzhezynskii" />
        <div>
          <p class="name">Illa Bzhezynskii</p>
          <p></p>
        </div>
      </li>
      <li class="item">
        <img src="./images/team/oleksii-chubenko.jpg" alt="Oleksii Chubenko" />
        <div>
          <p class="name">Oleksii Chubenko</p>
          <p></p>
        </div>
      </li>
      <li class="item">
        <img
          src="./images/team/oleksii-tretiakov.jpg"
          alt="Oleksii Tretiakov"
        />
        <div>
          <p class="name">Oleksii Tretiakov</p>
          <p></p>
        </div>
      </li>
      <li class="item">
        <img src="./images/team/ihor-berezhnyi.jpg" alt="Ihor Berezhnyi" />
        <div>
          <p class="name">Ihor Berezhnyi</p>
          <p></p>
        </div>
      </li>
    </ul>
  </div>
</div>
