<div class="my-modal hidden" id="my-modal">
  <div class="my-backdrop" id="my-backdrop"></div>
  <div class="my-modal-content" id="my-modal-content">
    <button class="my-close-button" id="my-close-button" type="button">
      <svg class="modal__icon" width="30" height="30" aria-label="true">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="list-students">
      <li class="item">
        <img
          src="./images/team/olexandr-perlov1.jpg"
          alt="Oleksandr Perlov"
          loading="lazy"
        />
        <div>
          <p class="name">Oleksandr Perlov</p>
          <p class="position">Teamlead</p>
        </div>
      </li>
      <li class="item">
        <img
          src="./images/team/serhii.jpg"
          alt="Serhii Pushok"
          loading="lazy"
        />
        <div>
          <p class="name">Serhii Pushok</p>
          <p class="position">Scrum Master, Queue List</p>
        </div>
      </li>
      <li class="item">
        <img
          src="./images/team/dmytro-muzyka.jpg"
          alt="Dmytro Muzyka"
          loading="lazy"
        />
        <div>
          <p class="name">Dmytro Muzyka</p>
          <p class="position">Markup, General Refactor</p>
        </div>
      </li>
      <li class="item">
        <img
          src="./images/team/ihor-havrylov.jpg"
          alt="Ihor Havrylov"
          loading="lazy"
        />
        <div>
          <p class="name">Ihor Havrylov</p>
          <p class="position">Spinner, Arrow, Show More</p>
        </div>
      </li>
      <li class="item">
        <img
          src="./images/team/oksana-stefaniuk.jpg"
          alt="Oksana Stefaniuk"
          loading="lazy"
        />
        <div>
          <p class="name">Oksana Stefaniuk</p>
          <p class="position">Modals, Trailer</p>
        </div>
      </li>
      <li class="item">
        <img
          src="./images/team/illa-bzhezinskii.jpg"
          alt="Illa Bzhezynskii"
          loading="lazy"
        />
        <div>
          <p class="name">Illa Bzhezynskii</p>
          <p class="position">Watched List, Queue List</p>
        </div>
      </li>
      <li class="item">
        <img
          src="./images/team/oleksii-chubenko.jpg"
          alt="Oleksii Chubenko"
          loading="lazy"
        />
        <div>
          <p class="name">Oleksii Chubenko</p>
          <p class="position">Movie Card</p>
        </div>
      </li>
      <li class="item">
        <img
          src="./images/team/oleksii-tretiakov.jpg"
          alt="Oleksii Tretiakov"
          loading="lazy"
        />
        <div>
          <p class="name">Oleksii Tretiakov</p>
          <p class="position">Gallery, Search</p>
        </div>
      </li>
      <li class="item">
        <img
          src="./images/team/ihor-berezhnyi.jpg"
          alt="Ihor Berezhnyi"
          loading="lazy"
        />
        <div>
          <p class="name">Ihor Berezhnyi</p>
          <p class="position">Pagination</p>
        </div>
      </li>
    </ul>
  </div>
</div>
