<div class="my-backdrop hidden" id="my-backdrop">
  <div class="my-modal" id="my-modal">
    <button class="my-close-button" id="my-close-button" type="button">
      <svg class="modal__icon" width="30" height="30" aria-label="true">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h1>Hi</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias nihil ut
      veritatis voluptatibus deserunt atque veniam cumque voluptates impedit
      quod!
    </p>
  </div>
</div>
