/* Button Styles */

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  min-width: 130px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-light-color);
  background-color: transparent;
  border-radius: 5px;
  // border: 0;
  border: 1px solid var(--main-light-color);

  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);

  &:hover,
  &:focus {
    border-color: var(--main-accent-color);
    background-color: var(--main-accent-color);
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
  }

  &--active {
    border-color: var(--main-accent-color);
    background-color: var(--main-accent-color);
    box-shadow: var(--btn-box-shadow);
  }
}

.modal__button {
  color: var(--main-font-color);
  border-color: var(--main-dark-color);

  &:hover,
  :focus {
    color: var(--main-light-color);
  }

  &--active {
    color: var(--main-light-color);
    border-color: var(--main-accent-color);
    background-color: var(--main-accent-color);
    box-shadow: var(--btn-box-shadow);
  }
}
#modal__button-queue {
  color: var(--main-font-color);
  border-color: var(--main-dark-color);

  &:hover,
  :focus {
    color: var(--main-light-color);
    border-color: var(--main-accent-color);
  }
}
