/* Button Styles */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 10px;
  padding: 5px;
  // min-width: 130px;
  width: 110px;
  height: 44px;
  // margin-top: 2px;
  // margin-bottom: 2px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  // text-align: center;
  text-transform: uppercase;

  color: var(--main-light-color);
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--main-light-color);

  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);
  @include mq(tab) {
    width: 130px;
  }
  @include mq(desk) {
    width: 140px;
  }

  &:hover,
  &:focus {
    border-color: var(--main-accent-color);
    background-color: var(--main-accent-color);
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
  }

  &--active {
    border-color: var(--main-accent-color);
    background-color: var(--main-accent-color);
    box-shadow: var(--btn-box-shadow);
  }
}

.modal__button {
  color: var(--main-font-color);
  border-color: var(--main-dark-color);

  &:hover,
  :focus {
    color: var(--main-light-color);
    opacity: 1;
  }

  &--active {
    color: var(--main-light-color);
    border-color: var(--main-accent-color);
    background-color: var(--main-accent-color);
    box-shadow: var(--btn-box-shadow);
  }
}
