.movie-details {
  @include mq(tab) {
    display: flex;
    gap: 68px;
  }
  @include mq(desk) {
    gap: 16px;
  }
}

.movie-details__img {
  border-radius: 5px;
  @include mq(mob-only) {
    margin-bottom: 20px;
  }
  @include mq(tab) {
    width: 264px;
    height: 396px;
  }
  @include mq(desk) {
    width: 375px;
    height: 478px;
  }
}
.movie-details__thumb {
  @include mq(tab) {
    width: 264px;
  }
  @include mq(desk) {
    width: 391px;
  }
}
.movie-details__content {
  margin-bottom: 20px;
}
.movie-details__img {
  margin-bottom: 20px;
  border-radius: 5px;
}
.movie-details__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;

  @include mq(desk) {
    font-size: 30px;
    line-height: 1.17;
  }
}
.movie-details__name {
  width: 108px;
  padding: 4px 0 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
  @include mq(desk) {
    width: 152px;
  }
}
.movie-details__slash {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}
.movie-details__vote {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 36px;

  background: #f7f7f7;
  color: #000000;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  text-align: center;
}
.movie-details__vote--average {
  background: #ff6b01;
  color: #fff;
}
.movie-details__value {
  padding: 4px 0 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  align-items: center;
  text-transform: uppercase;

  color: var(--main-font-color);
}
.movie-details__genres {
  padding: 4px 0 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  display: flex;
  align-items: center;

  color: var(--main-font-color);
}
table {
  margin-bottom: 20px;
}
.movie-details__about {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.movie-details__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  @include mq(tab) {
    max-height: 120px;
    overflow-y: auto;
  }
  @include mq(desk) {
    max-height: 175px;
  }
}

.movie-details__preview-wrapper {
  position: relative;
}

.movie-details__button-trailer {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--accent-font-color);
  border-color: var(--accent-font-color);
  background-color: #201c1c;
  opacity: 0.7;
  @include mq(tab) {
    bottom: 33px;
  }
}
.movie-details__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @include mq(tab) {
    gap: 15px;
  }
}
