.search {
  position: relative;
  display: block;
  //   margin: 16px auto;
  width: 100%;
  max-width: 336px;
  margin: 0 auto;

  @include mq(desk) {
    max-width: 394px;
  }
  //   height: 20px;
  // border-bottom: 0.5px solid #ffffff;
}

.search__input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  padding: 4px 36px 4px 4px;

  color: var(--main-light-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  outline: none;
}

.search__input::placeholder {
  color: var(--placeholder-color);
  //   font-weight: 400;
  //   font-size: 14px;
  //   line-height: 16px;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.search__info {
  margin-top: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: var(--accent-font-color);
}
