/* Header Styles */

.header {
  @include section(40px, 44px);
  min-width: 320px;
  max-width: 480px;

  background-position: center;
  background-size: cover;

  @include mq(tab) {
    max-width: 768px;
  }

  @include mq(desk) {
    max-width: 1280px;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  padding: 0;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.header--home {
  background-image: linear-gradient(
      var(--header-background-color),
      var(--header-background-color)
    ),
    url('../images/header/home/mob/background.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        var(--header-background-color),
        var(--header-background-color)
      ),
      url('../images/header/home/mob/background@2x.jpg');
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: linear-gradient(
        var(--header-background-color),
        var(--header-background-color)
      ),
      url('../images/header/home/mob/background@3x.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        var(--header-background-color),
        var(--header-background-color)
      ),
      url('../images/header/home/tab/background.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--header-background-color),
          var(--header-background-color)
        ),
        url('../images/header/home/tab/background@2x.jpg');
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          var(--header-background-color),
          var(--header-background-color)
        ),
        url('../images/header/home/tab/background@3x.jpg');
    }
  }

  @include mq(desk) {
    max-width: 1280px;

    background-image: linear-gradient(
        var(--header-background-color),
        var(--header-background-color)
      ),
      url('../images/header/home/desk/background.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--header-background-color),
          var(--header-background-color)
        ),
        url('../images/header/home/desk/background@2x.jpg');
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          var(--header-background-color),
          var(--header-background-color)
        ),
        url('../images/header/home/desk/background@3x.jpg');
    }
  }
}

.header--mylib {
  background-image: linear-gradient(
      var(--header-background-color),
      var(--header-background-color)
    ),
    url('../images/header/mylibrary/mob/background.jpg');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        var(--header-background-color),
        var(--header-background-color)
      ),
      url('../images/header/mylibrary/mob/background@2x.jpg');
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: linear-gradient(
        var(--header-background-color),
        var(--header-background-color)
      ),
      url('../images/header/mylibrary/mob/background@3x.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        var(--header-background-color),
        var(--header-background-color)
      ),
      url('../images/header/mylibrary/tab/background.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--header-background-color),
          var(--header-background-color)
        ),
        url('../images/header/mylibrary/tab/background@2x.jpg');
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          var(--header-background-color),
          var(--header-background-color)
        ),
        url('../images/header/mylibrary/tab/background@3x.jpg');
    }
  }

  @include mq(desk) {
    background-image: linear-gradient(
        var(--header-background-color),
        var(--header-background-color)
      ),
      url('../images/header/mylibrary/desk/background.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--header-background-color),
          var(--header-background-color)
        ),
        url('../images/header/mylibrary/desk/background@2x.jpg');
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: linear-gradient(
          var(--header-background-color),
          var(--header-background-color)
        ),
        url('../images/header/mylibrary/desk/background@3x.jpg');
    }
  }
}
